/*base*/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

/*Polices*/
body, html {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 2;
}

h3 {
  font-family: "Shrikhand";
  color: white;
}

/*compoments*/
.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

/*layout*/
footer {
  background-color: #363131;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer img {
  height: 1.3rem;
  filter: invert(100%);
}
footer li {
  list-style-type: none;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  margin-right: 10px;
}
footer .margin_sup {
  margin-right: 16px;
}

header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 1.9rem;
}
header i {
  position: absolute;
  left: 20px;
}

/*utils*/
/*Code couleur*/
/* font */