footer {
    background-color: $color-gris;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    img {       
    height: 1.3rem;
    filter:invert(100%);
    }
    li  {
    list-style-type: none;        
    }
    a {
    color: $color-white;  
    text-decoration: none;         
    }
    i {
    margin-right: 10px;    
    }
    .margin_sup {
    margin-right: 16px;
    }
}

