//Accueil
.loader {  
    background:-webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: fixed; /*page site en arriere plan*/
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: defilement 4s ease-in-out 3s forwards;  
  }
  /* Animation Texte défilant */
.defilement {
    display: block; 
    margin: 50px auto ;
    text-align: center;
    overflow: hidden; /* important évite débordement*/
  p {
    display: inline-block;/* important */
    animation: defilement 10s; 
    white-space: nowrap; /* important */
    font-family: 'Shrikhand';
    font-size: large;
    line-height: 4rem; 
    margin: 30px;
  }

  .logo1 img{
    animation-duration: 750ms slidein;
    animation: 3s linear 2s slidein;
    position: relative;
    width: 40%;
    opacity: 0.6; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
    filter:alpha(opacity=0.60); /* for <= IE 8 */ 
  }
  @include tablet {
    width: 40%;
  } 
}
// Page du site
header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
.logo {   
    height: 1.9rem;
  }
}