# ignore tous les fichiers extension .json
/.vscode/*
# ignore tous les fichiers memento txt
*.txt
# ignore tous les fichiers .pdf
*.pdf
# ignore repertoire Maquette Ohmyfood
/support/*
# ignore repertoire node_modules
/node_modules/*