@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
    /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    /* position finale à gauche */
  }
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Code couleur*/
/* font */
/* Margin */
/* MediaQuery*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*Polices*/
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 1.6rem;
  padding: 20px 40px;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 20px 20px;
}

figcaption,
p {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
}

h3 {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

.num {
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
  flex: 2;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  position: fixed;
  /*page site en arriere plan*/
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: defilement-rtl 3s ease-in-out 2s forwards;
}
.loader .logo1 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.loader .logo1 img {
  max-width: 200px;
  position: absolute;
  animation: rotate 1.5s linear;
}
.loader .slogan1 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
  border-radius: 10px;
  background: #9356DC;
  line-height: 3rem;
  font-family: "Shrikhand";
  color: white;
  font-size: 1rem;
  margin-top: 50px;
  padding: 20px;
}

header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 1.9rem;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.maps__icon {
  width: 15px;
}
.maps__search input {
  width: 150px;
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-size: 1rem;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

.accueil {
  background: #f6f6f6;
  width: 100%;
}

.slogan {
  text-align: center;
}
.slogan p {
  font-size: 1.1em;
}
.slogan__btn {
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  width: 220px;
  height: 50px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 4px 4px 6px #332f2f;
  margin: 20px 0 50px;
}
.slogan button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.action h2 {
  padding: 40px 0 10px 20px;
}
@media screen and (min-width: 768px) {
  .action h2 {
    text-align: center;
  }
}
.action ul {
  margin: 20px auto;
}
@media screen and (min-width: 1400px) {
  .action ul {
    justify-content: space-between;
    max-width: 1400px;
  }
}
.action p {
  font-weight: bold;
  font-size: 1.1rem;
}
.action__item li:hover {
  background: #f7f1fc;
}
.action__item li:hover .action__icon {
  color: #9356DC;
}
.action__item li {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  border-radius: 20px;
  background: #f6f6f6;
}
.action__icon {
  margin-left: 10px;
  margin-right: 20px;
  color: #8f8d8d;
  font-size: 1.1em;
}
.action__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 28px;
  height: 28px;
  position: relative;
  right: 10px;
}
@media screen and (min-width: 768px) {
  .action__item {
    display: flex;
    align-items: center;
  }
}

.menus_restaurant {
  background: #f2f2f2;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 30px;
}
.menus_restaurant h2 {
  padding-top: 45px;
}
.menus_restaurant p {
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .menus_restaurant {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menus__cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1900px) {
  .menus__cartes {
    flex-wrap: wrap;
    max-width: 1400px;
  }
}

.card {
  border-radius: 20px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 10px;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .card {
    width: 75vw;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    max-width: 45vw;
    padding: 0;
    margin: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .card {
    max-width: 640px;
  }
}
.card img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 180px;
}
.card .new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: bold;
  font-size: 14px;
  width: 25%;
  text-align: center;
  animation: clignote 2s linear infinite;
}

.carte {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.carte .heart {
  color: #686565;
  font-size: 1.6rem;
}
.carte .heart:hover {
  cursor: pointer;
  animation: heart 2s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.card figure {
  width: 100%;
  margin: 0px;
}

.card figcaption {
  padding: 10px 15px 15px 15px;
}

/*Header logo idem home +fleche retour Menu*/
header i {
  position: absolute;
  left: 1rem;
  margin-top: -5px;
}

/*Main*/
.header__img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Titre Menu*/
.menus__title {
  font-family: Shrikhand, sans-serif;
  font-size: 0.8rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 10px 20px 10px 0;
}
@media screen and (min-width: 1024px) {
  .menus__title {
    justify-content: center;
  }
}
.menus__title .heart {
  color: #686565;
  font-size: 1.6rem;
}
.menus__title .heart:hover {
  cursor: pointer;
  animation: heart 2s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Carte menu*/
.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

@media screen and (min-width: 1024px) {
  .full__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.menu__title {
  margin-top: 20px;
}
.menu__title ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 2rem;
  height: 0.2rem;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals h4 {
  font-family: "Roboto";
  font-size: 1rem;
}
.meals p {
  font-size: 0.8rem;
}
.meals:hover {
  padding-right: 75px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  animation: rotate 1s;
}
@media screen and (min-width: 1024px) {
  .meals {
    width: 300px;
  }
}

.delay1 {
  animation: fadeInUp 1s ease-in-out;
}

.delay2 {
  animation: fadeInUp 2s ease-in-out;
}

.delay3 {
  animation: fadeInUp 3s ease-in-out;
}

.delay4 {
  animation: fadeInUp 4s ease-in-out;
}

.full__menu h3 {
  text-transform: uppercase;
  font-weight: lighter;
  padding-left: 15px;
  margin-top: 10px;
}

.cross {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2em;
}

.last__line p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  .last__line p {
    padding-right: 20px;
  }
}

.last__line span {
  margin-right: 2px;
}

.btn__order button {
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  width: 220px;
  height: 50px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 4px 4px 6px #332f2f;
  text-align: center;
  margin: 30px 0;
}
@media screen and (min-width: 1400px) {
  .btn__order button {
    max-width: 200px;
  }
}
.btn__order button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.btn__order {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #332f2f;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer img {
  height: 1.3rem;
  filter: invert(100%);
}
footer ul {
  margin: 20px auto;
}
footer li {
  list-style-type: none;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  margin-right: 10px;
}
footer .margin_sup {
  margin-right: 16px;
}

/*# sourceMappingURL=style.css.map */
