@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes defilement {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Code couleur*/
/* font */
/* Margin */
/* MediaQuery*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*Polices*/
body, html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

h1, h2 {
  font-weight: 900;
  font-size: 1.6rem;
  padding: 20px 40px;
}

figcaption, p {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
}

h3 {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
}

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}

p {
  font-size: 0.9em;
}

.num {
  font-weight: bold;
}

.loader {
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  position: fixed;
  /*page site en arriere plan*/
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 3s ease-in-out 2s forwards;
  opacity: 1;
  /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
  filter: alpha(opacity=1);
  /* for <= IE 8 */
}

/* Animation Texte défilant */
.defilement {
  display: flex;
  justify-content: center;
  flex: 2;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
}
.defilement .slogan1 {
  border-radius: 10px;
  background: #9356DC;
  line-height: 4rem;
  font-family: "Shrikhand";
  color: white;
  font-size: 1rem;
  margin: 70px 0 70px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.defilement .logo1 img {
  width: 50%;
}

header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 1.9rem;
}

.maps {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.maps__icon {
  width: 15px;
}
.maps__search input {
  width: 150px;
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-size: 1rem;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

.accueil {
  background: #f6f6f6;
  width: 100%;
}

.slogan {
  text-align: center;
}
.slogan p {
  font-size: 1.1em;
}
.slogan__btn {
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border-radius: 30px;
  color: white;
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 4px 4px 6px #332f2f;
  margin: 20px 0 50px;
}
.slogan button:hover {
  opacity: 0.8;
  transform: scale(1);
  box-shadow: 1px 1px 6px black;
}

.action h2 {
  padding: 40px 0 10px 20px;
}
@media screen and (min-width: 768px) {
  .action h2 {
    display: flex;
    justify-content: center;
  }
}
.action p {
  font-weight: bold;
  font-size: 1.1rem;
}
.action__item li:hover {
  background: #f7f1fc;
}
.action__item li:hover .action__icon {
  color: #9356DC;
}
.action__item li {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 25px;
  border-radius: 20px;
  background: #f6f6f6;
}
.action__icon {
  margin-left: 10px;
  margin-right: 20px;
  color: #8f8d8d;
  font-size: 1.1em;
}
.action__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 28px;
  height: 28px;
  position: relative;
  right: 10px;
}
@media screen and (min-width: 768px) {
  .action__item {
    display: flex;
    align-items: center;
  }
}

.menus_restaurant {
  background: #f2f2f2;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 30px;
}
.menus_restaurant h2 {
  padding-left: 15px;
  padding-top: 45px;
}
@media screen and (min-width: 768px) {
  .menus_restaurant {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menus__cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  border-radius: 20px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 10px;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .card {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 40%;
  }
}
.card img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  max-height: 180px;
}
.card .new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
  font-weight: bold;
  font-size: 14px;
  width: 25%;
  text-align: center;
  animation: clignote 2s linear infinite;
}

.carte {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.carte .heart {
  color: #686565;
  font-size: 1.6rem;
}
.carte .heart:hover {
  cursor: pointer;
  animation: heart 2s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.card figure {
  margin: 0px;
}

.card figcaption {
  padding: 10px 15px 15px 15px;
}

/*Header logo idem home +fleche retour Menu*/
header i {
  position: absolute;
  left: 20px;
}

/*Main*/
/* Menu*/
.header__img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Titre Menu*/
.main__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menus__title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .menus__title {
    padding: 10px 90px;
  }
}
.menus__title .heart {
  color: #686565;
  font-size: 1.6rem;
}
.menus__title .heart:hover {
  cursor: pointer;
  animation: heart 2s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Carte menu*/
@media screen and (min-width: 1024px) {
  .full__menu {
    display: flex;
    justify-content: space-around;
  }
}

.menu {
  animation: fadein 3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 400px;
  }
}
.menu__title {
  margin-bottom: 25px;
}
.menu__title ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 2rem;
  height: 0.2rem;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
}

.menu h4 {
  padding-left: 15px;
  margin-bottom: 5px;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 75px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.last__line p {
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .last__line p {
    padding-right: 20px;
  }
}

.last__line span {
  margin-right: 10px;
}

.cross {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.btn__order {
  display: flex;
  justify-content: center;
}

.btn__order button {
  background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border-radius: 30px;
  color: white;
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 4px 4px 6px #332f2f;
  text-align: center;
  margin: 40px 0;
  width: 40%;
}
@media screen and (min-width: 1024px) {
  .btn__order button {
    width: 25%;
  }
}
.btn__order button:hover {
  opacity: 0.8;
}

footer {
  background-color: #332f2f;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer img {
  height: 1.3rem;
  filter: invert(100%);
}
footer li {
  list-style-type: none;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  margin-right: 10px;
}
footer .margin_sup {
  margin-right: 16px;
}

/*# sourceMappingURL=style.css.map */
