//Polices
body, html {
    font-family: 'Roboto', sans-serif;
}
h1, h6 {
    font-family: 'Shrikhand';
}



//Code couleur

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;