/*Polices*/

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

h1,
h2 {
    font-weight: 900;
    font-size: 1.6rem;
    padding: 20px 40px;
}

figcaption,
p {
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 700;
}

h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

p {
    font-size: 0.9em;
}

.num {
    font-weight: bold;
}