/*Polices*/

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
}

h1 {
    font-weight: 900;
    font-size: 1.6rem;
    padding: 20px 40px;
}

h2 {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 20px 20px;
}

figcaption,
p {
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
}

.num {
    font-weight: bold;
}