//loader
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
@keyframes defilement {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}
//Décalage ouverture sur page menu
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
 // Colorartion coeur
@keyframes heart {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
