/*Code couleur*/

$color-white:white;
$color-black:black;
$color-gris:#363131;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-color-primary: lighten (#9356DC,20%);

/* font */
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roberto', sans-serif;